# Ignore environment files
.env
*.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Docker-related files
docker-compose.override.yml
docker-compose.*.yml
Dockerfile.*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.swp

# Ignore log files
*.log

# Ignore virtual environment folders
venv/
env/
.venv/
