# Webapp DB
WEB_DB_HOST=
WEB_DB_PORT=5432
WEB_DB_DATABASE=
WEB_DB_USERNAME=
WEB_DB_PASSWORD=

# Engine DB
ENGINE_DB_HOST=
ENGINE_DB_PORT=5432
ENGINE_DB_DATABASE=
ENGINE_DB_USERNAME=
ENGINE_DB_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# Webapp Configuration
WEB_ENV=
SECRET_KEY=
HOST_NAME=
WEB_IMAGE_TAG=
WEB_PFX_FILE=
WEB_PFX_PASSWORD=
WEB_SENTRY_DSN=
WEB_EMAIL_HOST=
WEB_EMAIL_PORT=
WEB_EMAIL_USE_TLS=
WEB_EMAIL_HOST_USER=
WEB_EMAIL_HOST_PASSWORD=
WEB_DEFAULT_FROM_EMAIL=

# Engine Configuration
ENGINE_ENV=
ENGINE_IMAGE_TAG=
MASTER_CLIENT_ID=
MASTER_CLIENT_SECRET=
ENGINE_SENTRY_DSN=
